<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <!-- Centrar logo en el eje horizontal -->
    <ion-row class="flex ion-justify-content-center">
      <img src="./assets/imgs/isologo.svg" alt="Isologo Terra Energy MX" class="logo">
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-title mode="ios">
          <h1 class="ion-margin-vertical">
            Bienvenido
          </h1>
        </ion-title>
      </ion-col>
    </ion-row>
    <div class="ion-margin-top">
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-input type="email" labelPlacement="floating" placeholder="email@domain.com" label="Correo electrónico"
              errorText="Correo inválido" minlength="5" pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$"
              fill="outline" mode="md" autocomplete="email" name="email" [(ngModel)]="email"
              required></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-input type="password" labelPlacement="floating" label="Contraseña" errorText="Contraseña inválida"
              minlength="6" fill="outline" mode="md" name="password" [(ngModel)]="password"
              required></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-button expand="block" color="light" type="submit" [disabled]="loginForm.invalid">
              Iniciar sesión
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </div>
    <div class="rectangles">
      <div class="rectangle"></div>
      <div class="rectangle"></div>
    </div>
    <ion-row>
      <ion-col size="10" offset="1">
        <div class="flex ion-justify-content-center">
          <ion-button fill="clear" color="dark" size="small">
            Olvidé mi contraseña
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>